.blog-title {
  :hover,
  &:before {
    border: none;
    border-bottom: none !important;
  }
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@for $i from 1 through 30 {
  h1.makeStyles-title-#{$i} {
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 700 !important;
  }
}
