.dashboard-topmenu .blog-menu {
  padding-right: 1.5rem;
  cursor: pointer;
  color: #2499ef;
}
.dashboard-topmenu .topmenu-items a.menu-item,
.dashboard-topmenu .topmenu-items div.menu-item {
  transition: all 0.1s ease-in;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .dashboard-topmenu .topmenu-items a.menu-item,
  .dashboard-topmenu .topmenu-items div.menu-item {
    display: none !important;
  }
}
.dashboard-topmenu .topmenu-items .toggle-icon {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
@media only screen and (min-width: 767px) {
  .dashboard-topmenu .topmenu-items .toggle-icon {
    display: none !important;
  }
}

.light-theme .dashboard-topmenu .topmenu-items a.menu-item:hover, .light-theme .dashboard-topmenu .topmenu-items a.menu-item.active,
.light-theme .dashboard-topmenu .topmenu-items .toggle-icon:hover,
.light-theme .dashboard-topmenu .topmenu-items .toggle-icon.active {
  background-color: #091922;
  color: #f3f4f9;
}

.dark-theme .dashboard-topmenu .topmenu-items a.menu-item:hover, .dark-theme .dashboard-topmenu .topmenu-items a.menu-item.active,
.dark-theme .dashboard-topmenu .topmenu-items .toggle-icon:hover,
.dark-theme .dashboard-topmenu .topmenu-items .toggle-icon.active {
  background-color: #f3f4f9;
  color: #091922;
}

.loader {
  --background: linear-gradient(135deg, #23c4f8, #275efe);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6c7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}

.loader:before,
.loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}
@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
  50%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
  65%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%, 100% {
    opacity: 0;
  }
  80%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
  95%, 100% {
    transform: rotateY(0deg);
  }
}
.sun-editor {
  font-size: 1rem;
}
.sun-editor .se-btn-module-border {
  border: none !important;
}
.sun-editor .se-list-layer {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}
.sun-editor .se-wrapper-wysiwyg,
.sun-editor .sun-editor-editable {
  font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif !important;
}
.sun-editor .se-toolbar {
  background: linear-gradient(145deg, #ffffff, #e6e6e6) !important;
  box-shadow: 2px 2px 2px #d9d9d9, -2px -2px 2px #ffffff !important;
  outline: none !important;
}

.sun-editor-editable {
  font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif !important;
}

.sun-editor-light .sun-editor {
  border: none !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 16px 16px 32px #ededed, -16px -16px 32px #ffffff;
  border-radius: 0.5rem;
}
.sun-editor-light .sun-editor button {
  color: #091922;
}
.sun-editor-light .sun-editor .se-wrapper-inner {
  border: none;
  border-radius: 0;
  background: #f3f4f9;
}

.sun-editor-dark .sun-editor {
  outline: none !important;
  border: none !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: #091922;
  background-color: #091922;
  border-radius: 0.5rem;
  box-shadow: 29px 29px 50px #08151d, -29px -29px 50px #0a1d27;
}
.sun-editor-dark .sun-editor .se-container {
  background: #091922;
}
.sun-editor-dark .sun-editor .sun-editor-editable {
  background: #091922;
  color: #f3f4f9;
}

.blog-title :hover, .blog-title:before {
  border: none;
  border-bottom: none !important;
}

img { /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.makeStyles-title-18 {
  font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: 700 !important;
}

* {
  font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
}

.se-image-container.__se__float-center {
  text-align: center;
}/*# sourceMappingURL=style.css.map */